table, caption, tbody, tfoot, thead, tr, th{
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    width: unset;
    height: unset;
    line-height: 0%;
}
td{
    line-height: 0%;
    border-right: 0px;
}
.nav102{
	color: black;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	border:1px solid;
	border-color: #f2f2f2;
    padding: 10px 25px;
}
.button102{
    border-radius: 20px;
    padding: 10px;
    background: gray;
}